<div id="sidebar-wrapper">
	<ul id="sidebar_menu" class="sidebar-nav">
		<li class="sidebar-brand"><a id="menu-toggle" href="#">Menu<span id="main_icon" class="glyphicon glyphicon-align-justify"></span></a></li>
		<li role="presentation" class="active"><a href="/">Home</a></li>
		<li role="presentation"><a href="#forums">Forums</a><%# link_to "Post", post_path %></li>
		<li role="presentation"><%= link_to "HIV FAQ", faq_path %></li>
		<li role="presentation"><%= link_to "Help Near You", clinic_locations_path%></li>


	</ul>
</div>