<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Important Info</title>
<link rel="stylesheet" type="text/css" href="faq.css" />
<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css' />
<link href="../../assets/stylesheets/css/bootstrap.min.css" rel="stylesheet"/>


</head>


<div id="wrapper" class="active">
	<div id="sidebar-wrapper">
		<ul id="sidebar_menu" class="sidebar-nav">
			<li class="sidebar-brand"><a id="menu-toggle" href="#">Menu<span id="main_icon" class="glyphicon glyphicon-align-justify"></span></a></li>
			<li role="presentation" class="active"><a href="#home">Home</a></li>
			<li role="presentation"><a href="forums.html.erb">Forums</a></li>
			<li role="presentation"><a href="faq.html.erb">HIV FAQ</a></li>
			<li role="presentation"><a href="HelpNearYou.html.erb">Help Near You</a></li>
		</ul>
	</div>
</div>

<div class="jumbotron">
<h1><center>Important Info</center></h1>
<p><center>FAQs</center></p>
</div>

<div id="Faq_wrap">
<p>In 2011 there were an estimated 34 million people living with HIV, with 2.7 million new infections worldwide. In the South-East Asia Region1 there were an estimated 3.5 million HIV infected people with an estimated 210 000 people that became newly infected with HIV. The good news is that the number of new infections in the Region is declining and deaths from AIDS have dropped for those that are HIV infected and receiving treatment.</p>

<p>However, after more than 30 years since HIV was first identified there is still no cure or an effective vaccine for HIV. On a positive note, HIV is now a chronic manageable disease due to improved medicines and increased support and care.</p>

<p>Today many people are not aware that they are HIV infected because they either feel well or they have not taken an HIV test. When people are not aware they have HIV, they can spread the infection to others as well as not have access to medicines that can help maintain a healthy life. HIV does not discriminate between different types of people, age or gender and can affect anyone. It is for this reason alone that everyone should get tested for HIV.</p>
</div>

<div id="Faq_wrap_2">
<p>In 2011 there were an estimated 34 million people living with HIV, with 2.7 million new infections worldwide. In the South-East Asia Region1 there were an estimated 3.5 million HIV infected people with an estimated 210 000 people that became newly infected with HIV. The good news is that the number of new infections in the Region is declining and deaths from AIDS have dropped for those that are HIV infected and receiving treatment.</p>

<p>However, after more than 30 years since HIV was first identified there is still no cure or an effective vaccine for HIV. On a positive note, HIV is now a chronic manageable disease due to improved medicines and increased support and care.</p>

<p>Today many people are not aware that they are HIV infected because they either feel well or they have not taken an HIV test. When people are not aware they have HIV, they can spread the infection to others as well as not have access to medicines that can help maintain a healthy life. HIV does not discriminate between different types of people, age or gender and can affect anyone. It is for this reason alone that everyone should get tested for HIV.</p>
</div>

<div id="Faq_wrap_3">
<p>In 2011 there were an estimated 34 million people living with HIV, with 2.7 million new infections worldwide. In the South-East Asia Region1 there were an estimated 3.5 million HIV infected people with an estimated 210 000 people that became newly infected with HIV. The good news is that the number of new infections in the Region is declining and deaths from AIDS have dropped for those that are HIV infected and receiving treatment.</p>

<p>However, after more than 30 years since HIV was first identified there is still no cure or an effective vaccine for HIV. On a positive note, HIV is now a chronic manageable disease due to improved medicines and increased support and care.</p>

<p>Today many people are not aware that they are HIV infected because they either feel well or they have not taken an HIV test. When people are not aware they have HIV, they can spread the infection to others as well as not have access to medicines that can help maintain a healthy life. HIV does not discriminate between different types of people, age or gender and can affect anyone. It is for this reason alone that everyone should get tested for HIV.</p>
</div>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="../../assets/javascripts/js/bootstrap.min.js"></script>

	<script>
		$("#menu-toggle").click(function(e) {
			e.preventDefault();
			$("#wrapper").toggleClass("active");
		});
	</script>



<!--
<nav id="primary_nav_wrap">
<ul>
  <li class="current-menu-item"><a href="#">Home</a></li>
  <li><a href="#">FAQ</a>
    <ul>
      <li><a href="#">Sub Menu 1</a></li>
      <li><a href="#">Sub Menu 2</a></li>
      <li><a href="#">Sub Menu 3</a></li>
      <li><a href="#">Sub Menu 4</a>
        <ul>
          <li><a href="#">Deep Menu 1</a>
            <ul>
              <li><a href="#">Sub Deep 1</a></li>
              <li><a href="#">Sub Deep 2</a></li>
              <li><a href="#">Sub Deep 3</a></li>
                <li><a href="#">Sub Deep 4</a></li>
            </ul>
          </li>
          <li><a href="#">Deep Menu 2</a></li>
        </ul>
      </li>
      <li><a href="#">Sub Menu 5</a></li>
    </ul>
  </li>
  <li><a href="#">Menu 2</a>
    <ul>
      <li><a href="#">Sub Menu 1</a></li>
      <li><a href="#">Sub Menu 2</a></li>
      <li><a href="#">Sub Menu 3</a></li>
    </ul>
  </li>
  <li><a href="#">Menu 3</a>
    <ul>
      <li class="dir"><a href="#">Sub Menu 1</a></li>
      <li class="dir"><a href="#">Sub Menu 2 THIS IS SO LONG IT MIGHT CAUSE AN ISSEUE BUT MAYBE NOT?</a>
        <ul>
          <li><a href="#">Category 1</a></li>
          <li><a href="#">Category 2</a></li>
          <li><a href="#">Category 3</a></li>
          <li><a href="#">Category 4</a></li>
          <li><a href="#">Category 5</a></li>
        </ul>
      </li>
      <li><a href="#">Sub Menu 3</a></li>
      <li><a href="#">Sub Menu 4</a></li>
      <li><a href="#">Sub Menu 5</a></li>
    </ul>
  </li>
  <li><a href="#">Menu 4</a></li>
  <li><a href="#">Menu 5</a></li>
  <li><a href="#">Menu 6</a></li>
  <li><a href="#">Contact Us</a></li>
</ul>
</nav>

<body>
-->
</body>
</html>
