<!DOCTYPE html>
<html lang="en">

<head>
	<link href="../../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="forums.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div class="jumbotron">
		<h1>Forum</h1>
	</div>

	<div id="Questions" class="forum">
		<h1 class="forumheader">Questions</h1>
	</div>

	<div id="Comments" class="forum">
		<h1 class="forumheader">Comments</h1>
	</div>

	<div id="Stories" class="forum">
		<h1 class="forumheader">Stories</h1>
	</div>


</body>

</html>