<!DOCTYPE html>
<html>
  <head>
  	<title> Help Near You </title>
  	<link rel="stylesheet" href="HelpNearYou.css" type="text/css">

    <style>
      #map {
        width: 500px;
        height: 400px;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
   <script>
var myCenter=new google.maps.LatLng(-26.2044,28.0456);

function initialize()
{
var mapProp = {
  center:myCenter,
  zoom:5,
  mapTypeId:google.maps.MapTypeId.ROADMAP
  };

var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
 //for (DATABASE LOOP)
var marker=new google.maps.Marker({
  position:new google.maps.LatLng(-29.8833,31.0500),
    title: 'Hello World!'
  });
marker.setMap(map);
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>



 
 
        
  </head>
  <body>

		<div id="sidebar-wrapper">
			<ul id="sidebar_menu" class="sidebar-nav">
				<li class="sidebar-brand"><a id="menu-toggle" href="#">Menu<span id="main_icon" class="glyphicon glyphicon-align-justify"></span></a></li>
				<li role="presentation"><a href="#home">Home</a></li>
				<li role="presentation"><a href="forum.html.erb">Forums</a></li>
				<li role="presentation"><a href="faq.html.erb">HIV FAQ</a></li>
				<li role="presentation" class="active"><a href="HelpNearYou.html.erb">Help Near You</a></li>
			</ul>
		</div>


  	<h1> Help Near You </h1>
  	<h2> If you need immediate help please call (646) 673-6938 </h2>
  	<div class='map'>
  	<h2> Map </h2> 
  <div id="googleMap" style="width:500px;height:380px;"></div>
  

</div>
    <h2> Clinic Directory </h2> 
    <?php
    msql_connect("localhost", "root", "");
    msql_select_db("get_data");

    $sql = mysql_query("SELECT * FROM get_info ORDER BY id ASC");
    $id = 'id';
    $name = 'name';
    $comments = 'comments';
    $rows = mysql_fetch_assoc($sql)
	echo 'Name: ' . $rows[$id] . '<br/>' . 'Comment: ' . rows[$comments];

    ?>
    <h3> INSERT CLINICS FROM DATABASE HERE </h3>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="../../assets/javascripts/js/bootstrap.min.js"></script>

	<script>
		$("#menu-toggle").click(function(e) {
			e.preventDefault();
			$("#wrapper").toggleClass("active");
		});
	</script>

    
  </body>
</html>