<!DOCTYPE html>
<html lang="en">

<head>
	<link href="../../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="../../assets/bootstrap/css/simple-sidebar.css" rel="stylesheet">
	<link href="home.css" rel="stylesheet" type=text/css">
</head>

<body>
	<div class="jumbotron" style="text-align: center;">
		<h1>Text</h1>
		<button type="button" class="btn btn-primary btn-lg">Get Started</button>
		<p></p>
		<p>Already a user? <a href="">Login</a> </p>
	</div>


	<h1> Homepage </h1>
	<p>This is a homepage, must add content</p>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src=""../../assets/bootstrap/js/bootstrap.min.js"></script>
</body>
